[submodule "lib/CoreRandom"]
	path = lib/CoreRandom
	url = https://github.com/AmazingCow-Game-Core/CoreRandom
[submodule "lib/CoreGame"]
	path = lib/CoreGame
	url = https://github.com/AmazingCow-Game-Core/CoreGame
[submodule "lib/CoreCoord"]
	path = lib/CoreCoord
	url = https://github.com/AmazingCow-Game-Core/CoreCoord
